.not_underline{
	text-decoration: none;
	color: black;
}
.not_underline:hover{
	text-decoration: underline;
	color: black;
}

.page_list{
	display: flex;
	justify-content: center;
}
.page_number{
	padding: 0 6px;
}