.not_underline{
	text-decoration: none;
	color: black;
}
.not_underline:hover{
	text-decoration: underline;
	color: black;
}

.page_list{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.page_number{
	padding: 0 6px;
	margin: 0 1px;
	border: solid 0.5px hsl(200, 40%, 20%);
}
.page_number:hover{
	background-color: hsl(200, 40%, 20%);
	opacity: 80%;
}