body, body>* {
	margin: 0;
	padding: 0;
	background-color: hsl(200, 60%, 90%);
}
header{
	background-color: hsl(200, 60%, 70%);
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}
main>*{
	height: 100%;
}
footer{
	display: flex;
	width: 100%;
}
nav{
	display: flex;
	width: 100%;
}
article{
	width: 45vw;
	background-color: hsl(100, 50%, 50%);
}
aside{
	width: 15vw;
	background-color: hsl(200, 50%, 50%);
}
table{
	width:100%;
}
.td_seq{
	text-align: center;
}
.td_title{
	width:70%;
}
.td_writer{
	width:15%;
	text-overflow: ellipsis;
	text-align: center;
}
.td_date{
	text-align: center;
}
