body, body>* {
	margin: 0;
	padding: 0;
}
header{
	
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
}
footer{
	display: flex;
	width: 100%;
}
nav{
	display: flex;
	width: 100%;
}