body, body>* {
	margin: 0;
	padding: 0;
	background-color: hsl(0, 0%, 100%);
}
header{
	background-color: hsl(200, 60%, 70%);
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
}
main>*{
	height: 100%;
}
footer{
	display: flex;
	width: 100%;
}
nav{
	display: flex;
	width: 100%;
}
article{
	width: 35vw;
	background-color: hsl(0, 0%, 90%);
}
aside{
	width: 15vw;
	background-color: hsl(0, 5%, 90%);
}
table{
	width:100%;
	padding: 5px;
	border-collapse: collapse;
}
th, td{
	border-bottom: 0.5px solid hsl(0, 0%, 50%); 
	padding: 5px;
}
.td_seq{
	text-align: center;
}
.td_title{
	width:70%;
	padding-left: 10px;
}
.td_writer{
	width:15%;
	text-overflow: ellipsis;
	text-align: center;
}
.td_date{
	text-align: center;
}
