<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="fragments/bodyHeader :: bodyHeader" />
	<main class="container">
		<article>
			<table>
				<thead>
					<tr>
						<th> # </th>
						<th> 제목 </th>
						<th> 작성자 </th>
						<th> 작성일 </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts}" >
						<td th:text="${post.id}"></td>
						<td><a th:text="${post.title}" href="/posts/new"></a></td>
						<td th:text="${post.writer}"></td>
						<td th:text="${post.postDate}"></td>
					</tr>
				</tbody>
			</table>
			<div>
			<a class="button" href="/posts/new">등록</a>
			</div>
		</article>
		<aside th:replace="fragments/aside :: aside"/>
	</main>
	<footer th:replace="fragments/footer :: footer" />
	
	<script>
	
		
	</script>
</body>
</html>