<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
	<title>Hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<header th:replace="fragments/bodyHeader :: bodyHeader" />
	<main class="container">
		<article>
			<table>
				<thead>
					<tr>
						<th class="td_seq"> # </th>
						<th class="td_title"> 제목 </th>
						<th class="td_writer"> 작성자 </th>
						<th class="td_date"> 작성일 </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts.content}">
						<td class="td_seq" th:text="${post.id}"></td>
						<td class="td_title"><a class="not_underline" th:text="${post.title}"
								th:href="@{/posts/{id} (id=${post.id})}"></a></td>
						<td class="td_writer" th:text="${post.writer}"></td>
						<td class="td_date" th:text="${post.postDate}"></td>
					</tr>
				</tbody>
			</table>
			<div class="page_list">
				<div class="page_number" th:each="page : ${#numbers.sequence(0,{posts.totalPages-1}) }">
					<a class="not_underline" th:href="@{/?page={page} (page=${page})}" th:text="${page}"></a>
				</div>
			</div>
			<div>
			<a class="button" href="/posts/new">등록</a>
			</div>
		</article>
		<aside th:replace="fragments/aside :: aside"/>
	</main>
	<footer th:replace="fragments/footer :: footer" />
	
	<script>


	</script>
</body>
</html>